src/main/mule/gitspetbatch.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a04fb0a9-d9e4-45ca-97bb-1009a6e20702" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="gitspetbatchFlow" doc:id="9d8765fd-c087-41c9-9bed-14cc51531eee" >
		<http:listener doc:name="Listener" doc:id="41621d2b-7633-4c1b-b8c7-4c064ae013d8" config-ref="HTTP_Listener_config" path="/git"/>
		<logger level="INFO" doc:name="Logger" doc:id="7d0247c4-dff0-4440-8a03-98fbc59b9ef7" />
		<set-payload value='#["success"]' doc:name="Set Payload" doc:id="81756080-c77c-4bab-a77f-d9a791d0c47c" />
		<logger level="INFO" doc:name="Logger" doc:id="3102c36a-fe51-431b-bd98-2a8d59591036" />
		<ee:transform doc:name="Transform Message" doc:id="a0a56c36-1b2c-4bc6-9fb4-5e40d70a708d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="05f5afd6-ee51-4cd1-b1a5-810053f593cc" />
		<ee:transform doc:name="Transform Message" doc:id="745c8f86-0b73-4626-ad2e-39bdf200eca9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	
</flow>
</mule>
